.u-board-container {
    width: 70%;
    flex-grow: 0.7;
    display: flex;
    box-shadow: 3px 3px 10px rgba(156, 230, 234);
    margin: 20px auto auto auto;
    background-image: url('board-bakcground.jpg');
    filter: brightness(200%);
}

.u-grid-20 {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
}

.u-grid-24 {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
}

.u-grid-28 {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(28, 1fr);
}

.u-cell {
    box-shadow: 1px 1px 10px rgba(187, 239, 242, 0.1);
    color:aliceblue;
    text-align: center;
    display:block;
}

.u-cell:hover {
    background-color: rgb(61, 108, 132,.15);
}