.u-game-container {
  background: #e3f5ff;
  flex-direction: column;
  align-items: center;
  width: 55%;
  align-self: center;
  padding: 20px;
  border-radius: 25px;
  margin-top: 20px;
  color: black;
}

.u-bottom-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0px 20px;
}

.u-screen {
  background: #1e4965;
  width: 100%;
}

.u-cards-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
}

.u-card {
  flex: 1;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: transparent;
  border: 0px;
  box-shadow: none;
  color: black;
  margin: 0;
  padding: 15px;
}

.u-card:hover {
  flex: 1.1;
}

.u-card a {
  text-decoration: none;
  color: black;
}

.u-card img {
  width: 100%;
}

.u-bars-container {
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: 100%;
  padding: 10px;
}

.u-bar-100 {
  box-sizing: border-box;
  width: 100%;
  height: 20px;
  background-color: #d9d9d9;
  position: relative;
}

.u-stat-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #2bda27;
}

.u-stat-bar-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0 5px;
  color: #000c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  white-space: nowrap;
}

.u-grid {
  height: 100%;
  display: grid;
  flex-grow: 1;
  grid-template-columns: repeat(20, 1fr);
}

.u-grid-20,
.u-grid-24,
.u-grid-28 {
  box-shadow: 3px 3px 10px rgba(156, 230, 234);
  background-image: url("./images/board-background.png");
  background-size: cover;
  filter: brightness(200%);
  height: 100%;
  flex-grow: 1;
  display: grid;
  height: 100%;
  margin-bottom: -10px;
}

.u-grid-20 {
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.u-grid-24 {
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.u-grid-28 {
  grid-template-columns: repeat(28, 1fr);
  grid-template-rows: repeat(14, 1fr);
}

.u-cell {
  box-shadow: 1px 1px 10px rgba(206, 241, 243, 0.1);
  color: aliceblue;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.u-cell:hover {
  background-color: rgb(61, 108, 132, 0.15);
}

.u-cell-nv {
  background-color: rgb(0, 0, 0, 0.7);
}

.u-cell-nv:hover {
  background-color: rgb(0, 0, 0, 0.5);
}

.u-cell-rP,
.u-cell-rN {
  background-color: rgba(0, 13, 10, 0.7);
}

.u-cell-rP:hover,
.u-cell-rN:hover {
  background-color: rgba(0, 13, 10, 0.6);
}

.u-overlap-1 {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}

.u-overlap-2 {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
}

.u-direction-grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 2fr 3fr;
  grid-template-rows: 3fr 2fr 3fr;
}

.u-game-button {
  color: white;
  text-align: center;
  border: none;
  background-color: #2f6ecd;
  border-radius: 5px;
  box-shadow: 3px 3px rgb(14, 28, 105);
}

.u-game-button:hover {
  background-color: rgb(62, 102, 180);
}

.u-game-button:active {
  background-color: #1420a1;
  box-shadow: 0px 0px rgb(14, 28, 105);
  transform: translateY(3px);
  transform: translateX(3px);
}

.u-health-indicator,
.u-stat-indicator {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 7px;
  gap: 7px;
}

.u-health-indicator {
  height: 47.5px;
  border: 1px solid red;
  color: #a30f0f;
  font-size: 20px;
}

.u-stat-indicator {
  height: 35px;
  border: 1px solid black;
  color: black;
}

.stat-img {
  display: inline-block;
  height: 100%;
  width: auto;
}

.u-stats {
  display: flex;
  flex-direction: column;
}

.u-stats span {
  font-size: 27px;
  font-weight: 700;
}

.u-enemy-stats {
  align-items: end;
}

.u-stats-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

.u-controls-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.u-left-controls,
.u-right-controls {
  display: flex;
  gap: 20px;
  align-items: center;
}

.u-number-input {
  width: 3em;
  background: none;
  border: 2px solid black;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.u-control-button {
  border: none;
  background: none;
  border-radius: 50px;
}

.u-control-button:hover {
  cursor: pointer;
  background-color: #00f3;
}

.u-control-button:active {
  cursor: pointer;
  background-color: #00fa;
}

#surrender.u-control-button {
  border: none;
  background: none;
}

#surrender.u-control-button:hover {
  cursor: pointer;
  background-color: #f00a;
}

#surrender.u-control-button:active {
  cursor: pointer;
  background-color: #f00f;
}
