.Battlefield-Infantry{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.btn{

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.bg-HomePage{

    background-image: url("./Infantry.png");
    background-position: center 35%;
    background-size: cover;

}

.h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.Scroll {
    height:200px;
    width: auto;
    overflow-y: scroll;
    overflow-x:hidden;
}

.Scroll::-webkit-scrollbar{
    
    width: 12px;
    height: 12px;
}

.Scroll::-webkit-scrollbar-thumb{
    background: gray; /* color de la barra */
    border-radius:5px;
    
}

.carousel-control-prev-icon{

    filter: invert(100%);

}

.carousel-control-next-icon {
    filter: invert(100%);
}
    