.PlaneTitle{
    position: absolute;   
    top: 250px;
    left: 50px;
    font-family: 'Silkscreen';
    font-size: large;;
}

.PlaneInfo{
    font-family: 'Silkscreen';
    font-size: large;
    color: black;
}