.action-card {
  border: 1px solid black;
  background: #82B5EA;
  border: 2px solid #000000;
  box-shadow: inset 0px 0px 30px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.selected-button {
  text-shadow: 2px 0 #2DA0ED, -2px 0 #2DA0ED, 0 2px #2DA0ED, 0 -2px #2DA0ED,
               1px 1px #2DA0ED, -1px -1px #2DA0ED, 1px -1px #2DA0ED, -1px 1px #2DA0ED;
}