.chat{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;        
    font-size: 12px;
    overflow: hidden;
    margin-top: 50px;
    border: 1px solid black;

    border-radius: 5px;
}

.chat-messages{
    top: 0;
    left: 0;
    overflow: auto;
}


.chat__header{
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;        
    font-size: 12px;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

.chat-input{
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
}